config gpon 'main'
	option enabled '0'
	option pon_mode 'xgspon'
	option serial_number ''
	option password ''
	option registration_id ''
	option epon_onu_mac ''
	option epon_llid_mask '0x1'
	option epon_silent_time '60'
	option omci_mode 'auto'
	option manual_gem '0'
	option gem_id '0'
	option tcont '0'
	option encrypted '0'
