config oam 'main'
	option enabled '1'
	option local_oui '000db6'
	option ctc_enabled '1'
	option ctc_oui '111111'
	option dpoe_enabled '1'
	option info_interval_ms '1000'
	option lost_link_timeout_ms '30000'
	option max_pdu_rate '20'
	option vendor_id 'AIRO'
	option manufacturer 'Airoha'
	option organization_name 'Airoha'
	option model 'XG2010G'
	option manufacture_date ''
	option hardware_version ''
	option software_version ''
	option firmware_version ''
	option firmware_filename ''
	option chipset_id 'AN7581'
	option loid ''
	option password ''
